
    .navbar{
        font-size: 18px;
        overflow: visible;
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 3vw;
        color: white;
      }
      .navbar a:hover {
        background-color: purple;
        color: white;
        bottom: 2px;
      }
      .nav-item a{
        position: relative;
      }
      .nav-item a:active{
        top: 2px;
      }
      .container-fluid a{
        position: relative;
      }
      .container-fluid a:active{
        top: 2px;
      }
      .eyes a{
        position: relative;
      }
      .eyes a:hover{
        background-color: whitesmoke;
      }
      .eyes a:active{
        top: 2px;
      }
      .bus-tracker a:hover{
        background-color: whitesmoke;
      }
      .bus-tracker a{
        position: relative;
      }
      .bus-tracker a:active{
        top: 2px;
      }
      .PacMan-words a:hover{
        background-color: whitesmoke;
      }
      .PacMan-words a{
        position: relative;
      }
      .PacMan-words a:active{
        top: 2px;
      }
      body{
        background-image: url('sunset2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
      }
      .header{
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 5vw;
        font-family: 'Oleo Script', cursive;
      }
      .header-words{
        color: white;
        text-align: center;
        font-size: xx-large;
        padding-top: 3vw;
        font-family: 'Oleo Script', cursive;
        
      }
      .eyes-header{
        margin-left: 7vw;
        font-size: 30px;
        color: white;
        font-weight: bolder;
        padding-top: 5vw;
      }
      .eyes{
        margin-left: 3vw;
        display: flex;
      }
      .eyes-words{
        padding-bottom: 3vw;
        color: white;
        padding-left: 1vw;
        flex: 0%;
        font-weight: bold;
        font-size: x-large;
        padding-top: 4vw;
        text-align: center;
        margin-right: 1vw;
      }
      .bus-header{
        text-align: center;
        font-size: 30px;
        padding-top: 5vw;
        font-weight: bolder;
        color: white;
      }
      .bus-tracker{
        flex: 0%;
        padding-bottom: 1vw;
        color: white;
        margin-left: 5vw;
      }
      .bus-words{
        padding-bottom: 2vw;
        color: white;
        font-weight: bold;
        font-size: x-large;
        padding-top: 2vw;
        text-align: center;
        margin-left: 8vw;
        margin-right: 8vw;
      }
       #scroll-container {
        flex: 0%;
        width: 500;
        height: 500;
        padding-left: 10vw;
        padding-right: 10vw;
     }
      .PacMan-words{
        color: white;
        font-weight: bold;
        font-size: x-large;
        text-align: center;
        padding-right: 3vw;
        margin-left: 2vw;
        display: flex;
        
      }
      .PacMan-header{
        padding-left: 15vw;
        font-size: 30px;
        padding-top: 2vw;
        color: white;
        font-weight: bolder;
      }
      .PacMan{
        flex: 0%;
        border: 3px solid wheat;
        border-radius: 5px;
        overflow: hidden;
      }
      
    