        
    #scroll-container {
    border: 3px solid blue;
    border-radius: 5px;
    overflow: hidden;
    width: 10%;
    display: flex;
    margin-left: 68vw;
    }

    .scroller {
      height: 1.2em;
      line-height: 1.2em;
      position: relative;
      overflow: hidden;
      flex: 0%;
    
    }

    .scroller > span {
      position: absolute;
      top: 0;
      animation: slide 15s infinite;
      font-weight: bold;
      text-align: center;
      padding-left: 1vw;
      color: white;
      flex: 0%;
      justify-content: center;
    }

    @keyframes slide {
      0% {
        top: 0;
      }
      25% {
        top: -1.2em;
      }
      50% {
        top: -2.4em;
      }
      75% {
        top: -3.6em;
      }
    }

    .page-header{
      padding-top: 6vw;
      display: flex;
      color: white;
      font-style: italic;
      font-size: x-large;
      margin-left: 67vw;
    }

    .side-sent{
        font-family: 'Marck Script', cursive;
        font-size: 17px;
        font-variant: normal;
        color: whitesmoke;
        padding: 0;
        margin: 0;
        line-height: 0em;
        margin-left: 0.6vw;
        padding-bottom: 0.5vw;
    }
    .me{
        color: white;
        text-align: center;
        font-size: 50px;
        justify-content: center;
        font-family: 'Oleo Script', cursive;     
    }
    .skills{
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 10vw;
        font-family: 'Oleo Script', cursive;
    }
    
    .passion{
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 10vw;
        font-family: 'Oleo Script', cursive;
    }
    .MIT{
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 10vw;
        font-family: 'Oleo Script', cursive;
    }
   
    .MIT-two{
      display: inline-block;
      justify-content: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: black;
      font-size: 25px;
      background-color: rgb(80, 179, 240);
      text-align: center;
    }
   
    body{
        background-image: url('NY3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    .content{
        display: grid;
        grid-template-columns: 40vw 40vw 40vw;
        grid-template-rows: 2fr 2fr 2fr;
        justify-content: center;
        gap: 0.5vw;  
        padding: 0.5vw;   
    }
    .one{
        background-color: darkblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        font-weight: bold;
    }
    .two{
        background-color: cornflowerblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .three{
        background-color: darkblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .four{
        background-color: cornflowerblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        font-weight: bold;
        padding-bottom: 0.5vw;
    }
    .five{
        background-color: darkblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .six{
        background-color: cornflowerblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .seven{
        background-color: darkblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .eight{
        background-color: cornflowerblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .nine{
      background-color: darkblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
    .ten{
        background-color: cornflowerblue;
        color: white;
        font-size: 20px;
        text-align: center;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        font-weight: bold;
    }
  
    .my-pic{
      padding-right: 0.5vw;
      margin-left: 0.5vw;
      flex: 0%;
      
    }
    .bio{
      text-align: center;
      padding-left: 1vw;
      padding-right: 1vw;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      font-size: 21px;
      font-weight: bold;
    }
    
    .fam-pic{
        flex: 0%;
        margin-left: 0.5vw;
    }
  
  .MIT-two button {
      position: relative;
      color: blueviolet;
  }
  .MIT-two button:hover{
      cursor: pointer;
      bottom: 2px;
      font-weight: bolder;
      background-color: goldenrod;
    }
  .MIT-two button:active{
      top: 2px;
    }
    .navbar{
      font-size: 18px;
      overflow: visible;
      position: fixed;
      top: 0;
      
      margin-bottom: 5vw;
      color: white;
    }
    .navbar a:hover {
      background-color: rgb(0, 195, 255);
      color: white;
      bottom: 2px;
    }
    .nav-item a{
      position: relative;
    }
    .nav-item a:active{
      top: 2px;
    }
    .container-fluid a{
      position: relative;
    }
    .container-fluid a:active{
      top: 2px;
    }
    .pic{
      display: flex;
    }
    .you-tube{
      display: flex;
      padding-top: 5vw;
      margin-left: 20vw;
      
    }

    .video-word{
      padding-left: 5vw;
      font-weight: bold;
      text-align: center;
      color: white;
      font-size: 20px;
      padding-top: 8vw; 
    }
    
      
    
    .eyes{
      flex: 50%;
      justify-content: center;
      padding-top: 4vw;
      padding-bottom: 4vw;
      font-size: 30px;
    }
    
    .bus-tracker{
      font-size: 30px;
    }
    .PacMan{
      font-size: 30px;
    }

    #pac{
      border: 10px solid royalblue;
      border-radius: 5px;
      overflow: hidden;
    }
    .passion-two{
      
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: black;
      font-size: 25px;
      background-color: rgb(80, 179, 240);
      text-align: center;
      justify-content: center;
    }
    /* media viewing settings*/
    @media screen and (max-width:580px) {
      .PacMan {
      margin-left: 20px;
      border: 3px solid wheat;
      border-radius: 5px;
      overflow: hidden;
      font-size: 30px;
      }
      .project{
        padding-bottom: 30px;
      }
      .side-sent{
        font-size: 10px;
      }
    }
    .carousel-inner{
      width: 640px;
      height: 600px;
      justify-content: center;
      flex: 0;
    }
    .carousel slide{
      justify-content: center;
      width: 640px;
      height: 600px;
      flex: 0%;
    }
    .carousel-section{
      display: flex;
      justify-content: center;
      
    }
    .passion-three{
      display: flex;
      
    }
    .share-word{
      margin-left: 5vw;
      padding-right: 10vw;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      text-align: center;
      flex: 0%;
      padding-top: 5vw;
      font-size: 25px;
      font-weight: bold;
    }
    .share-video{
      margin-right: 5vw; 
    }

    /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: whitesmoke;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: cornflowerblue;
  line-height: 0;
}

.back-to-top:hover {
  background: palevioletred;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}